node_modules
bower_components
htdocs/storage/cache
htdocs/storage/configuration
htdocs/storage/originals
htdocs/storage/tmp
htdocs/storage/wallpaper
htdocs/storage/custom
htdocs/storage/themes/birdwatcher/info.json
htdocs/storage/themes/birdwatcher/build/*.js
htdocs/storage/themes/birdwatcher/build/inlines/*.js
htdocs/storage/themes/birdwatcher/build/*.css
htdocs/storage/themes/birdwatcher/build/*.png
htdocs/storage/themes/birdwatcher/build/*.map
.htaccess
.docpad.db
htdocs/manifest.php
payments/settings.php
payments/data/db
scripts/.db.json

photos
public
!public/icons
data
lib
