node_modules
bower_components
.htaccess
.docpad.db
htdocs/manifest.php
payments/settings.php
payments/data/db
scripts/.db.json

photos
public/images/travel
public/images/blog
public/**/*.html
public/**/*.xml
!public/google9fa2e8167ffb8174.html
public/build/*.js
public/build/*.css
data/sizes.json
lib
