.about-content {
	margin-side: (-(2*spacer));
	padding: 4*spacer 2*spacer spacer;
	background: bg_color;

	// Add padding to first and last columns to align gaps with .photo-grid
	+below(1024px) {
		.l-row {
			margin-side: (-(3*spacer));
		}
		.l-row > :first-child {
			padding-left: 3*spacer;
		}
		.l-row > :last-child {
			padding-right: 3*spacer;
		}
	}
}
