.about-splash {
	height: (500px - header_height);  // Photo height - header height

	&-i {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 500px;
		overflow: hidden;
		z-index: -1;
	}

	&__img {
		display: block;
		height: inherit;
		background: url(/images/about/splash.jpg) center center;
	}

	+above(1601px) {
		&__img {
			background-size: cover;
		}
	}
	+below(900px) {
		height: 300px;
		&__img {
			background-position: 60% -60px;
		}
	}
	+below(600px) {
		height: 200px;
		&__img {
			background-position: 65% -80px;
		}
	}
	+below(400px) {
		&__img {
			background-position: 71% -80px;
		}
	}
}
