// Author: Artem Sapegin, http://sapegin.me, 2015

.albums-link {
	display: block;
	font-weight: 300;
	+link-all-states() {
		text-decoration: none;
		outline: 0;
	}

	&__albums {
		layout-row();
	}

	&__link {
		cursor: default;
		+link-all-states() {
			color: base_color;
		}
	}
}
