.albums {
	layout-row();
	space(4);

	&__item {
		responsive-images();
		layout-nth(1/4);
		space(2);

		+below(800px) {
			layout-nth(1/3);
		}
		+below(540px) {
			layout-nth(1/2);
		}
		+below(320px) {
			layout-stop();
		}
	}
}
