// Author: Artem Sapegin, http://sapegin.me, 2014

.all-tags {
	columns: 4;

	&__item {
		space(.5);
		font-size: normal_font;
	}

	&__counter {
		margin-left: .25em;
		font-size: small_font;
	}

	+below(900px) {
		columns:3;
	}
	+below(750px) {
		columns: 2;
	}
	+below(450px) {
		columns: 1;
	}
}
