.articles-list {
	space(2);

	&__item {
		space();
		line-height: 1.5;
		font-size: normal_font;

		&:before {
			display: none;
		}

		&_important:before {
			content: "★";
			display: block;
			position: absolute;
			margin-left: -1.25em;
			color: light_color;
		}
	}

	&__description {
		font-size: small_font;
	}

	&_cols {
		grid-row();
	}
	&_cols &__item {
		grid-col(4);
	}

	+below(1024px) {
		&__item_important:before {
			margin-left: -1.1em;
		}
	}

	+below(900px) {
		&_cols &__item {
			grid-col(6);
		}
	}

	+below(502px) {
		&_cols &__item {
			width: 100%;
		}
	}
}
