.blog-tags {
	space(4);

	&__item {
		display: inline-block;
		margin-right: 1em;
		font-size: normal_font;
		white-space: nowrap;
	}

	&__counter {
		margin-left: .5em;
		font-size: small_font;
	}
}
