.book {
	responsive-images();
	grid-row();
	space(6);

	&__cover {
		grid-col(4);
		space(3);
	}

	&__info {
		grid-col(8);
		space(3);
		margin-top: -0.3em;
		font-size: normal_font;
	}

	&__description {
		space(3);

		p {
			space(1);
		}
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		flex-wrap: wrap;
	}

	&__features {
		space(2);
		margin-right: spacer;
		font-size: small_font;
	}

	&__feature {
		display: inline-block;

		&:after {
			content: "·";
			margin: 0 0.4em;
		}
 		&:last-child:after {
			display: none;
		}
	}

	&__spreads {
		grid-col-padding();
		padding-top: spacer*2;
		padding-bottom: spacer*2;
		display: flex;
		justify-content: space-between;
		position: relative;
	}

	&__spread {
		position: relative;
		display: inline-block;
		width: 43%;

		&_middle {
			position: absolute;
			width: 100%;
			left: 0;
			z-index: 2;
			text-align: center;
		}
	}

	&__spread-image {
		border: 1px solid light_color;

		&_middle {
			display: inline-block;
			vertical-align: middle;
			width: 52%;
			margin-top: -1.75%;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
		}
	}

	+below(700px) {
		&__cover,
		&__info {
			width: auto;
		}
		&__cover {
			margin-side: (-(2*spacer));
		}
		&__spreads {
			display: block;
			padding-top: 0;
			padding-bottom: 0;
		}
		&__spread {
			space();
			display: block;
			width: auto;
			margin-side: (-(2*spacer));
			&_middle {
				position: static;
			}
			&_last {
				display: none;
			}
		}
		&__spread-image {
			border-width: 1px 0;
			&_middle {
				width: auto;
				margin-top: 0;
				box-shadow: none;
			}
		}
	}
}
