.buy-button {
	no-select()
	padding: .3em 1.3em;
	border: 0;
	border-radius: .1em;
	background: button_color;
	box-shadow: none;
	font-size: 22px;
	font-weight: normal;
	color: bg_color;
	text-shadow: none;
	cursor: pointer;
	white-space: nowrap;
	outline: 0;
	text-decoration: none;

	+link-hovers() {
		background: #ffc465;
	}
}
