@import "~tamia/lib/modules/form/mixins";

// Moot tweaks
.comments {
	.m-like {
		display: none;
	}

	.m-page a,
	.m-account a {
		color: link_color;
	}

	.m-follow .m-icon,
	.m-post-upload em,
	.m-page a.m-show-help {
		tweak-inverted-text();
		color: light_color;
	}

	.m-page a,
	.m-account a,
	.m-page a.m-show-help {
		&:hover,
		&:active,
		&:focus {
			color: hover_color;
		}
	}
	.m-post-upload {
		&:hover em,
		&:active em,
		&:focus em {
			color: hover_color;
		}
	}
	.m-follow {
		&:hover .m-icon,
		&:active .m-icon,
		&:focus .m-icon {
			color: hover_color;
		}
	}

	.m-follow.m-followed .m-icon {
		color: accent_color;
	}

	.m-button,
	.moot button,
	#mt-start button {
		field-bones();
		button-skin();
		border-radius: form_border_radius;

		&:focus {
			border-color: form_focus_color;
			box-shadow: form_focus_shadow;
		}

		&:not(.is-disabled):hover {
			background: linear-gradient(to bottom, form_bg_color, form_lighter_bg_color);
			color: form_button_hover_color;
		}

		&:not(.is-disabled):active {
			button-pressed-skin();
			box-shadow: form_focus_shadow, inset 0 .1em .2em black(.2);
			border-color: form_focus_color;
		}
	}

	.m-input,
	.m-focused .m-postinput {
		transition: border-color .1s ease-in-out, box-shadow .1s ease-in-out;

		border: 1px solid form_border_color;
		box-shadow: inset 0 .1em .2em black(.1);

		&:focus {
			outline: 0;
			border-color: form_focus_color;
			box-shadow: inset 0 .1em .2em black(.1), form_focus_shadow;
		}
	}

	.m-tooltip,
	.m-account .m-error {
		padding: .35em .5em;
	}

	.m-tooltip:after,
	.m-account .m-error:after {
		text-shadow: none;
	}
}
