.entry-photo {
	space(2);

	&__img {
		height: auto;
		max-width: 100%;
	}

	&__byline {
		margin-top: .2em;
		font-size: small_font;
		color: base_color;
	}

	+below(1024px) {
		margin-side: -(2*spacer);
		text-align: center;
	}
}
