.header {
	&-i {
		space(2);
		display: flex;
		justify-content: space-between;
	}

	+below(740px) {
		&-i {
			display: block;
			text-align: center;
		}
	}

	.page_has-splash & {
		position: relative;
		z-index: 9999999;
	}
	.page_has-splash &-i {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0;
		max-width: none;
	}

	.page_inverted-head & {
		text-shadow: 0 0 2px black(.3);
	}
}
