.index {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: spacer;

	&__gallery {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.lightbox-image {
		background-size: cover;
	}
}
