visible_part_height = normal_font*2.5;

.index-content {
	margin-top: 100vh;
	opacity: 0;

	&.is-ok {
		lightbox-button-transition();
		opacity: 1;
	}

	&-i {
		margin-top: visible_part_height + header_height;
	}

	&__text {
		position: relative;
		margin-top: -(visible_part_height);
		margin-left: -(spacer*0.5);
		margin-right: -(spacer*0.5);
		padding: spacer*1.5;
		background: bg_color;
		z-index: 9999999;
		box-shadow: 0 0 6px black(.25);
	}

	&__text-i {
		grid-row();
	}

	&__blog {
		grid-col(4);
	}

	&__learn {
		grid-col(4);
	}

	&__about {
		grid-col(4);
	}

	+below(950px) {
		&__blog {
			grid-col(6);
		}

		&__learn {
			grid-col(6);
		}

		&__about {
			space(3);
			no-cols();

			.articles-list__item {
				display: inline-block;
				margin-right: .5em;
			}
		}

		&__userpic {
			display: none;
		}
	}

	+below(500px) {
		&__blog,
		&__learn {
			no-cols();
		}

		&__learn {
			space(3);
		}
	}
}
