.latest-books {
	margin-top: (spacer/2);
	margin-bottom: spacer;
	overflow: hidden;
	white-space: nowrap;

	&__item {
		no-underline();
		margin-left: spacer;
		display: inline-block;

		&:first-child {
			margin-left: 0;
		}
	}

	&__img {
		max-height: 100px;
	}
}
