.lightbox-button {
	lightbox-button-transition();
	width: lightbox_button_width;
	height: lightbox_button_height;
	line-height: lightbox_button_height;
	color: light_color;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	filter: drop-shadow(0 0 5px black(.3));

	&:hover {
		lightbox-button-glow()
	}

	&.is-disabled {
		color: white(.25);
		filter: none;
		pointer-events: none;
	}
}
