.lightbox-image {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-color: base_color;

	&__saver {
		position: absolute;
		top: header_height;
		bottom: spacer;
		left: 0;
		right: 0;
		opacity: 0;
	}
}
