.nav {
	margin: 0 -.4em;

	&__item {
		display: inline-block;
		padding: 0 .4em;
	}

	&__link {
		dark-link();
		font-size: normal_font;
	}

	&__label {
		font-size: normal_font;
		cursor: default;
	}
	&__label.is-active {
		font-weight: bold;
	}
}

.page_inverted-head {
	.nav__link,
	.nav__label {
		tweak-inverted-text();
		color: light_hover_color;
	}
}
