.page {
	&_index,
	&_content {
		background: photo_bg_color;
	}

	&_content,
	&_album {
		.content {
			max-width: 100%;
		}
	}

	&_index {
		padding-bottom: 0;
	}
}

+below(740px) {
	.page_learn {
		.l-half {
			width: 100%;
		}
	}
}
