gap = 2*spacer;
col-width(cols) {
	width: "calc(%s - %s)" % (100%/cols floor(gap * (cols - 1) / cols, 2));
}

.photo-grid {
	space(2);
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	// Remove extra margin between two successsive grids
	& + & {
		margin-top: (-(2*spacer));
	}

	&__photo {
		space(2);
	}
	&_pair &__photo {
		col-width(2);
	}
	&_three  &__photo,
	&_three-even  &__photo {
		col-width(3);
	}

	&__img {
		height: auto;
		max-width: 100%;
	}

	&__title {
		gamma();
		margin-top: .2em;
	}

	&__byline {
		margin-top: .2em;
		font-size: small_font;
		color: base_color;
	}

	+below(1024px) {
		margin-side: -(2*spacer);
		&_three-even &__photo {
			col-width(2);
		}
	}

	// With fade animation: for about page
	&_fade &__photo-i {
		position: relative;
	}
	&_fade &__img {
		appear-fade(.6s);
		display: block !important;
		position: absolute;
		top: 0;
	}
	&_fade &__img_original {
		position: static;
		visibility: hidden;
	}

	// Custom layouts like 2/3 + 1/3
	&__photo_third {
		col-width(3);
	}
	&__photo_two-thirds {
		col-width(1.5);
	}

	+below(502px) {
		&_pair &__photo,
		&_three &__photo,
		&_three-even &__photo,
		&__photo_third,
		&__photo_two-thirds,
		&__img {
			width: auto;
		}
	}
}
