.splash {
	space();
	height: 33vh;
	min-height: 100px;
	max-height: 400px;

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: inherit;
		min-height: 100px;
		max-height: 400px;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;

	}

	+below(800px) {
		&__img_about {
			background-size: 800px;
			background-position: 67% top;
		}
	}
	+below(400px) {
		&__img_about {
			background-size: 1150px;
		}
	}
}
