.subscribe {
	max-width: 500px;

	&__field-col {
		padding-right: spacer;
	}

	&__honey {
		position: absolute;
		left: -9999px;
	}

	+below(500px) {
		&__form {
			display: block;
		}

		&__field-col {
			space(.5);
			width: 100%;
			padding-right: 0;
		}

		&__button-col,
		&__button {
			width: 100%;
		}
	}
}
