.subscribe-box {
	margin: 0 (-(2*spacer)) 2*spacer;
	padding: 2*spacer;
	background: lighter_color;
	outline: 0 solid button_hover_color;
	transition: outline-width 0.05s ease-in-out;

	&.is-active {
		outline-width: 2px;
	}
}
