// Author: Artem Sapegin, http://sapegin.me, 2014

.subscribe-block {
	margin: 0 (-(2*spacer)) 6*spacer;
	padding: 2*spacer;
	background: #efefef;

	&__title {
		@extend .gamma;
		space(1.5);
	}

	&__form {
		space(1.5);
	}

	&__info {
		font-size: small_font;
	}
}
