// TODO: should be modifiers of a single class
.entry-instagrams,
.entry-triptych {
	layout-row();
	space(2);
	margin-top: (-(spacer));

	&__item {
		layout-nth(1/3);
		margin-top: spacer;
		margin-bottom: spacer;
	}

	&__photo {
		max-width: 100%;
		height: auto;
	}

	+below(320px) {
		&__item {
			layout-stop();
		}
	}
}
