// Author: Artem Sapegin, http://sapegin.me, 2014

.payment-popup {
	width:550px;

	&__close {
		position:absolute;
		top:8px;
		right:12px;
	}

	&__summ {
		width:100px;
	}

	&__note {
		position:relative;
		margin-top:-1em;
		min-height:4.5em;
		text-align:left;
		font-size:small_font;
	}

	&__note-text {
		position:absolute;
		top:0;
		left:0;
	}

	&__buttons {
		position:relative;
		height:32px;
	}

	&__button {
		position:absolute;
		top:0;
		right:0;
		width:200px;
	}
}
