// Author: Artem Sapegin, http://sapegin.me, 2014

.payment-form {
	&_card,
	&_yandex,
	&_paypal,
	&_paid,
	&_paid.is-disabled,
	&_free,
	&_free.is-disabled {
		transition: opacity .3s linear;
		opacity:0;
	}
	&_type_card &_card,
	&_type_yandex &_yandex,
	&_type_paypal &_paypal,
	&_cost_paid &_paid,
	&_cost_free &_free {
		opacity:1;
	}
	&_cost_paid &_paid.is-disabled,
	&_cost_free &_free.is-disabled {
		opacity:.4;
	}
}
