// Author: Artem Sapegin, http://sapegin.me, 2014

.payment-popup {
	width:550px;

	&__close {
		position: absolute
		top:8px;
		right:12px;
	}

	&__note {
		min-height:4.5em;
		text-align:left;
		font-size:small_font;
	}
}
