// Author: Artem Sapegin, http://sapegin.me, 2014

.summ-field {
	position:relative;
	width:100px;

	&__field {
		padding-right:1.9em;
	}

	&__currency {
		position:absolute;
		top:50%;
		margin-top:-.7em;
		right:spacer;
		font-size:1em;
	}
}
