// Author: Artem Sapegin, http://sapegin.me, 2013

body {
	background:bg-color;
	color:base-color;
	line-height:1.5;
	padding:spacer 2*spacer;
	font-size:normal-font;
	if (max-width) {
		max-width:max-width;
		margin-left:auto;
		margin-right:auto;
	}
}


// Fonts

body { font-family:"Helvetica Neue", Arial, sans-serif; }


// Headers: alpha, beta, gamma, delta, epsilon, epsilon

.alpha {
}


// Text

.text {
	a {
		@extend .link;
	}

	p,
	ul,
	ol {
		space(2);
	}
}

// Fotorama tweaks.
.fotorama__arr {
	display:none !important;
}

.header {
	clearfix();
	space(2);
}

.logo {
	float:left;
	// margin-right:2em;
	font-weight:normal;

	&,
	&__link,
	&__link:link,
	&__link:visited,
	&__link:hover,
	&__link:active,
	&__link:focus {
		font-size:normal-font;
		color:base-color;
		.page_content & {
			color:light-color;
		}
		.page_content &:hover,
		.page_content &:active,
		.page_content &:focus {
			color:#fff;
		}
	}
}

.nav {
	float:right;
	// float:left;

	li {
		display:inline-block;
		margin-left:.6em;
		&:first-child {
			margin-left:0;
		}
	}

	a,
	a:link,
	a:visited,
	a:hover,
	a:active,
	a:focus {
		font-size:normal-font;
		color:base-color;
		.page_content & {
			color:light-color;
		}
		.page_content &:hover,
		.page_content &:active,
		.page_content &:focus {
			color:#fff;
		}
	}
}

.footer {
	.page_content & {
		display:none;
	}

	font-size:small-font;
}

.page {
	&_content {
		background:#1a1a1a;
	}

	&_content,
	&_album {
		.content {
			max-width:100%;
		}
	}
}

.lightbox {
	position:relative;

	&__gallery,
	&__saver {
		position:absolute;
		top:40px;
		bottom:spacer;
		left:spacer;
		right:spacer;
	}

	&__saver {
		opacity:0;
	}

	&__image {
		max-width:1600px;
		height:100%;
		margin:0 auto;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:contain;
		&.is-activated {
			background:none !important;
		}
	}

	&__controls {
		absolute:left 0 bottom 0;
		z-index:9999;
		opacity:0;
		transition:opacity 333ms cubic-bezier(0.1, 0.25, 0.25, 1);
	}

	&:hover &__controls {
		opacity:1;
	}

	&__meta {
		display:none;
	}
}

.lightbox-pane {
	&__button {
		width:50px;
		height:50px;
		line-height:50px;
		color:light-color;
		text-align:center;
		cursor:default;
		text-shadow:2px 2px 4px black(.5);
		.icon {
			font-size:20px;
		}
	}

	&__popup {
		display:none;
		absolute:left 50px bottom 0;
		padding:spacer;
		background:#fff;
		// box-shadow:inset 0 0 10px 2px black(.75);
	}

	&:hover &__button {
		// color:#000;
		color:#fff;
		// background:#fff;
		// text-shadow:none;
		text-shadow:0 0 10px hsla(209, 75%, 65%, 1);
		// text-shadow:0 0 10px hsla(0, 100%, 100%, 1)//, 0 0 10px hsla(0, 100%, 100%, 1);
	}
	&:hover &__popup {
		display:block;
	}
}

.photo-info {
	width:800px;

	&__title {
		// space();
		font-size:32px;
		font-weight:normal;
	}

	&__album {
		space(2);
		font-size:small-font;
	}

	&__album-link:link,
	&__album-link:visited,
	&__album-link:hover,
	&__album-link:active,
	&__album-link:focus {
		color:base-color;
		text-decoration:none;

		u {
			text-decoration:underline;
		}
	}

	&__caption{
		space(2);
		font-size:normal-font;
	}

	&__location {
		space(2);
		font-size:small-font;
	}

	&__meta {
		font-size:small-font;
		color:#999;
	}
}

.thumbnails {
	margin:0 (-(spacer / 2)) spacer*2;

	&__item {
		display:inline-block;
		margin:spacer (spacer / 2);

		img {
			height:200px;
			width:auto;
		}
	}
}

.entry {
	font-size:19px;

	div + p {
		margin-top:4*spacer;
	}

	p,
	ul,
	ol {
		space(3);
		max-width:40em;
		line-height:1.6;
	}

	h3 {
		space();
		font-size:19px;
		font-weight:bold;
	}

	blockquote {
		margin-left:4*spacer;
		margin-right:4*spacer;
		font-size:16px;

		cite {
			font-style:italic;
		}
	}
}

.entry-header {
	space(4);
}

.entry-title {
	font-size:48px;
	font-weight:normal;
	line-height:1.3;

	&__link {
		&,
		&:link,
		&:visited,
		&:hover,
		&:active,
		&:focus {
			color:base-color;
			text-decoration:none;
		}
		&:hover,
		&:active,
		&:focus {
			border-bottom:2px solid;
		}
	}

	&_excerpt,
	&_excerpt-photo {
		font-size:32px;
	}

	&_excerpt-photo {
		space(2);

		.entry-title__link {
			&,
			&:link,
			&:visited,
			&:hover,
			&:active,
			&:focus {
				color:bg-color;
			}
		}
	}
}

.entry-excerpt {
	font-size:small-font;
}

.entry-pubdate {
	font-size:small-font;
}

.entry-tags {
	font-size:small-font;
}

.entry-instagrams {
	layout-row();
	space(2);
	margin-top:(-(spacer));
	// margin-bottom:(-(spacer));

	&__item {
		layout-nth(3);
		margin-top:spacer;
		margin-bottom:spacer;
	}

	&__photo {
		max-width:100%;
	}
}

.entry-photo {
	space(3);

	& + &,
	.l-row + &,
	& + .l-row {
		margin-top:(-(spacer));
	}
	.l-row & {
		margin-top:0;
	}

	&__photo {
		max-width:100%;
	}

	&__title {
		font-size:small-font;
	}
}


.essay {
	space(6);

	&_photo {
		tweak-inverted-text();
		margin-left:(-(2*spacer));
		margin-right:(-(2*spacer));
		padding:8*spacer 2*spacer;
		background:base-color;
		color:bg-color;

		.essay__content a,
		.essay__meta a {
			&,
			&:link,
			&:visited {
				color:light-color;
			}
			&:hover,
			&:active,
			&:focus {
				color:bg-color;
			}
		}
	}

	&_photo + &_photo {
		margin-top:(-(14*spacer));
	}

	&__header {
		space(2);
	}

	&__content {
		space(2);
	}

	&__pubdate {
		display:inline-block;
		margin-right:1em;
	}
}

.blog-tags {
	space(4);

	&__item {
		display:inline-block;
		margin-right:1em;
		font-size:normal-font;
	}

	&__counter {
		margin-left:.25em;
		font-size:small-font;
	}
}

.pagination {
	space(4);

	&__link {
		font-size:19px;
	}
}


.albums {
	layout-row();
	space(4);
}

.album-thumbnail {
	layout-nth(4);
	space(2);

	&__title {
		font-size:19px;
		font-weight:normal;
	}
}

