/* Author: Artem Sapegin, http://sapegin.me, 2013 */

content-max-width = 1024px;
sticky-footer-height = null;
spacer = 10px;
bg-color = #fff;
base-color = #1a1a1a;
light-color = #ccc;
link-style = "underline";
link-color = #1978c8;
visited-color = #8c5ad2;
hover-color = #1694ec;
photo-bg-color = #1a1a1a;
site-domain = "birdwatcher.ru";  // For print style sheet
normal-font = 16px
small-font = 13px

@import "../js/libs/fotorama/fotorama.css";
@import "../build/fonts/icons";
@import "tamia";
@import "blocks/media";
@import "blocks/list";
@import "blocks/richtypo";
@import "styles";
@import "print";
