/* Author: Artem Sapegin, http://sapegin.me, 2013 */

content_max_width = 1024px;
sticky_footer_height = 24px;
header_height = 55px;
spacer = 10px;
bg_color = #fff;
base_color = #1a1a1a;
light_color = #ccc;
light_hover_color = #fff;
link_style = "underline";
link_color = #1978c8;
visited_color = #8c5ad2;
hover_color = #1694ec;
photo_bg_color = #1a1a1a;
site_domain = "birdwatcher.ru";
content_font = 19px
normal_font = 16px
small_font = 13px

@import "../bower_components/social-likes/social-likes_flat.css";
@import "../build/fotorama.css";
@import "../build/fonts/icons";
@import "tamia";
@import "modules/form";
@import "modules/table";
@import "modules/media";
@import "modules/list";
@import "modules/richtypo";
@import "styles";

@import "blocks/*";
