// Author: Artem Sapegin, http://sapegin.me, 2013

body {
	background:bg-color;
	color:base-color;
	line-height:1.5;
	padding:spacer 2*spacer;
	font-size:normal-font;
	if (max-width) {
		max-width:max-width;
		margin-left:auto;
		margin-right:auto;
	}
}


// Fonts

body { font-family:"Helvetica Neue", Arial, sans-serif; }


// Headers: alpha, beta, gamma, delta, epsilon, epsilon

.alpha {
	font-size:48px;
	font-weight:normal;
	line-height:1.3;
}

.beta {
	font-size:32px;
	font-weight:normal;
	line-height:1.3;
}

.gamma {
	font-size:24px;
	font-weight:normal;
	line-height:1.3;
}

.delta {
	font-size:content-font;
	font-weight:bold;
	line-height:1.3;
}


// Text

.text {
	a {
		@extend .link;
	}

	p,
	ul,
	ol {
		space(2);
	}

	blockquote {
		margin-left:4*spacer;
		margin-right:4*spacer;
		font-size:90%;

		cite {
			font-style:italic;
		}
	}

}

// Fotorama tweaks.
.fotorama__arr {
	display:none !important;
}

.header {
	clearfix();
	space(2);
}

.logo {
	float:left;
	font-weight:normal;

	&,
	&__link,
	&__link:link,
	&__link:visited,
	&__link:hover,
	&__link:active,
	&__link:focus {
		font-size:normal-font;
		color:base-color;
	}
}
.page_inverted-head {
	.logo,
	.logo__link {
		tweak-inverted-text();
		color:light-color;
	}
	.logo__link:hover,
	.logo__link:active,
	.logo__link:focus {
		color:#fff;
	}
}

.nav {
	float:right;

	li {
		display:inline-block;
		margin-left:.6em;
		&:first-child {
			margin-left:0;
		}
	}

	a,
	a:link,
	a:visited,
	a:hover,
	a:active,
	a:focus {
		font-size:normal-font;
		color:base-color;
	}
}
.page_inverted-head .nav a {
	& {
		tweak-inverted-text();
		color:light-color;
	}
	&:hover,
	&:active,
	&:focus {
		color:#fff;
	}
}

.footer {
	padding:0;
	font-size:small-font;

	.page_album & {
		padding:0 spacer;
	}
	.page_index &,
	.page_content & {
		display:none;
	}
}

.is-fullscreen {
	overflow:hidden;
}

.page {
	&_content {
		background:photo-bg-color;
	}

	&_content,
	&_album {
		.content {
			max-width:100%;
		}
	}

	&_index {
		padding:0;
	}
}
@media (min-width:1025px) {
	.page_index {
		background:photo-bg-color;
	}
}


lightbox-button-width = 60px;
lightbox-button-height = 40px;

lightbox-button-transition() {
	transition:all 333ms cubic-bezier(0.1, 0.25, 0.25, 1);
}

lightbox-button-glow() {
	color:#fff;
	text-shadow:0 0 10px hsla(209, 75%, 65%, 1);
}

.lightbox {
	position:absolute;
	top:40px;
	bottom:spacer;
	left:spacer;
	right:spacer;

	&__gallery,
	&__saver {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}

	&__saver {
		opacity:0;
	}

	&__image {
		max-width:1600px;
		height:100%;
		margin:0 auto;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:contain;
		&.is-activated {
			background:none !important;
		}
	}

	&__controls,
	&__arrow {
		z-index:9999;
		opacity:0;
	}

	&__controls {
		lightbox-button-transition();
		absolute:left (-(spacer)) bottom (spacer/2);
	}

	&__arrow {
		absolute:top 50%;
		margin-top:(-(lightbox-button-height/2));

		&_left {
			left:(-(spacer));
		}
		&_right {
			right:(-(spacer));
		}
		.icon {
			margin-top:.5em;
			font-size:34px;
		}
	}

	&:hover &__controls,
	&:hover &__arrow {
		opacity:1;
	}

	&__meta {
		display:none;
	}
}

.lightbox-button {
	lightbox-button-transition();
	width:lightbox-button-width;
	height:lightbox-button-height;
	line-height:lightbox-button-height;
	color:light-color;
	text-align:center;
	cursor:pointer;
	text-shadow:0 0 4px black(.5);

	&:hover {
		lightbox-button-glow()
	}

	&.is-disabled,
	&.is-disabled:hover {
		color:white(.25);
		text-shadow:0 0 4px black(.25);
		cursor:default;
	}
}

.lightbox-pane {
	&__button {
		cursor:default;

		.icon {
			font-size:10px;
		}
	}

	&__popup {
		display:none;
		absolute:left lightbox-button-width bottom (-(spacer));
		padding:spacer;
		background:#fff;
	}

	&:hover &__button {
		lightbox-button-glow();
	}
	&:hover &__popup {
		display:block;
	}
}

.photo-info {
	width:800px;

	&__title {
		@extend .beta;
	}

	&__album {
		space(2);
		font-size:small-font;
	}

	&__album-link:link,
	&__album-link:visited,
	&__album-link:hover,
	&__album-link:active,
	&__album-link:focus {
		color:base-color;
		text-decoration:none;

		u {
			text-decoration:underline;
		}
	}

	&__caption{
		space(2);
		font-size:normal-font;
	}

	&__location {
		space(2);
		font-size:small-font;
	}

	&__meta {
		font-size:small-font;
		color:#999;
	}
}

.thumbnails {
	clearfix();
	margin:0 (-(spacer / 2)) spacer*2;

	&__item {
		float:left;
		margin:0 (spacer / 2) spacer;
	}
}

.thumbnail {
	display:block;
	overflow:hidden;

	&__img {
		max-width:none;
		height:200px;
	}
}

.entry {
	font-size:content-font;

	div + p {
		margin-top:4*spacer;
	}

	p,
	ul,
	ol {
		space(3);
		// max-width:40em;
		line-height:1.6;
	}

	h3 {
		@extend .delta;
		space();
	}
}

.entry-header {
	space(3);
}

.entry-title {
	@extend .alpha;
	margin-bottom:5px;

	&__link {
		&,
		&:link,
		&:visited,
		&:hover,
		&:active,
		&:focus {
			color:base-color;
			text-decoration:none;
		}
		&:hover,
		&:active,
		&:focus {
			border-bottom:2px solid;
		}
	}

	&_excerpt,
	&_excerpt-photo {
		@extend .beta;
	}

	&_excerpt-photo {
		space(2);

		.entry-title__link {
			&,
			&:link,
			&:visited,
			&:hover,
			&:active,
			&:focus {
				color:bg-color;
			}
		}
	}
}

.entry-excerpt {
	font-size:small-font;
}

.entry-pubdate {
	font-size:small-font;
}

.entry-tags {
	font-size:small-font;
}

.entry-instagrams,
.entry-triptych,
.about-triptych {
	layout-row();
	space(2);
	margin-top:(-(spacer));

	&__item {
		layout-nth(3);
		margin-top:spacer;
		margin-bottom:spacer;
	}

	&__photo {
		max-width:100%;
	}
}

.about-triptych {
	space();

	&__item {
		position:relative;
		height:size = 328px;
		width:size + 2*spacer;
	}

	&__photo {
		position:absolute;
		top:0;
		transition:opacity .5s ease-in-sine;
		&.is-hidden {
			opacity:0;
		}
	}
}

.entry-photo {
	space(3);

	& + &,
	.l-row + &,
	& + .l-row {
		margin-top:(-(spacer));
	}
	.l-row & {
		margin-top:0;
	}

	&__photo {
		max-width:100%;
	}

	&__title {
		font-size:small-font;
	}
}


.essay {
	space(6);

	&_photo {
		tweak-inverted-text();
		margin-left:(-(2*spacer));
		margin-right:(-(2*spacer));
		padding:8*spacer 2*spacer;
		background:base-color;
		color:bg-color;

		.essay__content a,
		.essay__meta a {
			&,
			&:link,
			&:visited {
				color:light-color;
			}
			&:hover,
			&:active,
			&:focus {
				color:bg-color;
			}
		}
	}

	&_photo + &_photo {
		margin-top:(-(14*spacer));
	}

	&__header {
		space(2);
	}

	&__content {
		space(2);
	}

	&__pubdate {
		display:inline-block;
		margin-right:1em;
	}
}

.blog-tags {
	space(4);

	&__item {
		display:inline-block;
		margin-right:1em;
		font-size:normal-font;
	}

	&__counter {
		margin-left:.25em;
		font-size:small-font;
	}
}

.pagination {
	space(4);

	&__link {
		font-size:content-font;
	}
}


.albums {
	layout-row();
	space(4);
}

.album-thumbnail {
	layout-nth(4);
	space(2);

	&__link {
		&,
		&:link,
		&:visited,
		&:hover,
		&:active,
		&:focus {
			text-decoration:none;
			color:base-color;
		}
	}

	&__img {
		margin-bottom:5px;
	}

	&__title {
		@extend .gamma;
	}

	&__summary {
		font-size:small-font;
	}
}


.book-review {
	space(4);

	&__title {
		@extend .gamma;
		margin-bottom:10px;
	}

	&__year {
		margin-left:.5em;
		font-size:16px;
	}

	&__translation {
		margin-bottom:14px;
		font-size:normal-font;
		font-weight:normal;
		font-style:italic;
	}

	&__img {
		max-width:120px;
		margin-top:7px;
		margin-bottom:7px;
	}

	&__rating {
		position:relative;
		line-height:1;

		&:before,
		i {
			position:absolute;
			left:0;
			top:0;
			font-size:13px;
			font-style:normal;
		}

		&:before {
			color:#ccc;
			color:rgba(base-color,.25);
		}
		i {
			color:base-color;
		}
		&:before,
		&_5 i:before {
			content:"★★★★★";
		}
		&_4 i:before,
		&_4-5 i:before {
			content:"★★★★";
		}
		&_3 i:before,
		&_3-5 i:before {
			content:"★★★";
		}
		&_2 i:before,
		&_2-5 i:before {
			content:"★★";
		}
		&_1 i:before,
		&_1-5 i:before {
			content:"★";
		}
		&_4-5 i:after,
		&_3-5 i:after,
		&_2-5 i:after,
		&_1-5 i:after,
		&_0-5 i:after {
			content:"★";
			display:inline-block;
			overflow:hidden;
			width:1.1ex;  // HACK
		}
	}
}


.book-review {
	display:none;
}
.tag_all .book-review {
	display:block;
}
for tag in "best" "good" "russian" "english" {
	.tag_{tag} .book-review_tag_{tag} {
		display:block;
	}
}


.filter {
	space(3);

	&__tag {
		margin-right:.5em;

		&.is-active {
			&,
			&:link,
			&:visited,
			&:hover,
			&:active,
			&:focus {
				font-weight:bold;
				color:base-color;
				text-decoration:none;
				cursor:default;
			}
		}
	}
}

.quote {
	space(4);

	&__text {
		space(2);
		font-style:normal-font;
	}

	&__meta {
		font-size:small-font;
	}
}


.index {
	position:fixed;
	top:0;
	left:0;
	width:100%;

	.header-i {
		position:relative;
		z-index:9999999;
	}

	.header {
		position:absolute;
		left:0;
		right:0;
		padding:spacer;
		margin:0;
		max-width:none;
		text-shadow:0 0 3px black(.5);

		.logo,
		a,
		a:link,
		a:visited,
		a:hover,
		a:active,
		a:focus {
			color:#fff;
		}

	}
}

.featured-album {
}

.index-content {

	&-i {
		margin-top:100vh;
	}

	&-i-i {
		position:relative;
		margin-top:(-(normal-font*2.5));
		margin-left:(-(spacer*0.5));
		margin-right:(-(spacer*0.5));
		padding:spacer*1.5;
		background:bg-color;
		box-shadow:0 0 6px black(.25);
	}
}

.index-list {
	&__title {
		space();
		font-size:normal-font;
	}

	&__item {
		margin-bottom:(spacer/2);
		font-size:normal-font;
	}

	&__description {
		font-size:small-font;
	}
}

.index-about {
	space();
	font-size:small-font;
}

@media (max-width:1024px) {
	.index {
		position:static;
	}
	.index-content {

		&-i {
			margin-top:0 !important;  // important to overwrite value set by JS
		}
		&-i-i {
			box-shadow:none;
		}
	}
}


// About page

.page_about {

}

.about-splash {
	height:(500px - 55px);  // Photo height - header height

	&-i {
		position:fixed;
		top:0;
		left:0;
		right:0;
		height:500px;
		overflow:hidden;
		z-index:-1;
	}

	&__img {
		height:inherit;
		background:url("/images/about/splash.jpg") center center;
	}
}
@media (min-width:1601px) {
	.about-splash {
		&__img {
			background-size:cover;
		}
	}
}

.about-content {
	margin-left:(-(2*spacer));
	margin-right:(-(2*spacer));
	padding:4*spacer 2*spacer spacer;
	background:bg-color;
}

.about-subtitle {
	@extend .delta;
	space();
}

.about-links {
	space(2);

	&__item {
		&:before {
			display:none;
		}
	}
}

.about-list {
	space(2);

	&__item {
		font-size:normal-font;

		&_obsolete,
		&_obsolete-first {
			font-size:small-font;
		}

		&_obsolete {
			margin-top:spacer;
		}

		&:before {
			display:none;
		}
	}
}

.about-copyrights {
	font-size:small-font;
}
