content_max_width = 1024px;
sticky_footer_height = 24px;
header_height = 55px;
spacer = 10px;
bg_color = #fff;
base_color = #222;
light_color = #ccc;
accent_color = #ff9a4d;
light_hover_color = #fff;
dark_hover_color = #555;
link_style = "gradient";
link_underline_position = 95%;
link_color = #60acc5;
visited_color = #8c5ad2;
hover_color = #54dcec;
photo_bg_color = #1a1a1a;
button_color = accent_color;
button_hover_color = #ffc465;
form_focus_color = #fbcd8b;
selection_color = rgba(255, 230, 15, 0.5);
site_domain = "birdwatcher.ru";
text_default_headings = false;
content_font = 19px;
normal_font = 16px;
small_font = 13px;
