content_max_width = 1024px;
sticky_footer_height = 24px;
header_height = 55px;
spacer = 10px;
bg_color = #fff;
base_color = #1a1a1a;
light_color = #ccc;
accent_color = #fba418;
light_hover_color = #fff;
link_style = "gradient";
link_underline_position = 95%;
link_color = #1978c8;
visited_color = #8c5ad2;
hover_color = #1694ec;
photo_bg_color = #1a1a1a;
selection_color = hsla(62, 100%, 53%, 0.5);
site_domain = "birdwatcher.ru";
text_default_headings = false;
content_font = 19px;
normal_font = 16px;
small_font = 13px;
