@import "~tamia/lib/styles/core";

//@import "~social-likes-next/dist/social-likes_light.css";
@import "../htdocs/storage/themes/birdwatcher/build/fotorama.css";
//@import "../htdocs/storage/themes/birdwatcher/build/fonts/icons";

@import "styles";

@import "blocks/*";
